body {
  overflow-x: hidden;
}

.card-title {
  margin: 0;
}

.sidebar-collapse .main-sidebar .lb {
  display: none;
}
.sidebar-collapse .main-sidebar .ls {
  display: block;
}

.main-sidebar .lb {
  display: block;
  min-width: 250px;
}
.main-sidebar .ls {
  display: none;
  min-width: 250px;
}

.share-button {
  color: #fff;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  border-radius: 5px;
  cursor: pointer;
}

.text-ellipsis {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.border-radius {
  border-radius: 0.25rem;
}

footer .menu .menu_item {
  font-size: 20px;
}

.word_item {
  padding: 4px 10px;
  border: 1px solid #555;
  border-radius: 0.25rem;
  margin-right: 5px;
  margin-bottom: 5px;
}
.word_item .del {
  color: inherit;
  text-decoration: none;
}

.form-control {
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
}
